<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644800684735-n6ade1qsv0ib1cvvclntf5snsnhapkb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644800684735-n6ade1qsv0ib1cvvclntf5snsnhapkb4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644800684735-d0b2arbi8753no26676srkivf9lk52kl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGu4evVMjhKBaMPYNQD9xVI4bpzg3oNho</string>
	<key>GCM_SENDER_ID</key>
	<string>644800684735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.stockapp</string>
	<key>PROJECT_ID</key>
	<string>stockappfirebase-851f6</string>
	<key>STORAGE_BUCKET</key>
	<string>stockappfirebase-851f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644800684735:ios:6d6f10071eded95e921c0a</string>
</dict>
</plist>